Student{
  color: black;
  background-color: white;
  width: 100%;

}

Heading {
  display: block;
  color: black;
  font-size: 40px;
  background-color: rgb(222, 222, 157);
  text-align: center;
}

Name {
  display: block;
  background-color: bisque;
  border: 1px solid silver;
  margin: 0.5em;
  padding:0.5em;
}

First_name, Middle_name, Last_name, Preferred_name{
  display: block;
  text-align: center;
  color: black;
}

Information {
  display: block;
  background-color: bisque;
  border: 1px solid silver;
  margin: 0.5em;
  padding:0.5em;
}

Student_ID, Email, Phone, Status{
  display: block;
  text-align: center;
  color: black;
}


CSS {
  display: block;
  background-color: bisque;
  border: 1px solid silver;
  margin: 0.5em;
  padding:0.5em;
}

GPA, Major, Minor, Current_Status, Advisor, Date, Graduation_date
{
  display: block;
  text-align: center;
  color: black;
}


